<header role="banner">
  <div class="sfgov-container sfgov-nav-container">
    <div class="sfgov-nav-container__content">
      {% if pl_test_content %}
        {% include "molecules-branding" %}
        {% include "molecules-main-navigation" %}
      {% endif %}
      {{ header_blocks }}
    </div>
  </div>
</header>
