@import "../../01-atoms/01-colors/01-colors.scss";

.content-head {
  background-color: $color-primary-alt-lightest;
  h1 {
    color: $color-primary-darker;
  }
  .description {
    color: $color-primary-darker;
  }
}
