<header class="sfgov-banner">
  <div class="sfgov-banner__container sfgov-container">
    <h1>{{ banner.title }}</h1>
    {% if banner.text %}
      <div class="lead-paragraph">{{ banner.text }}</div>
    {% endif %}
    {% if banner.date %}
      <time class="date">{{ banner.date|date('l, F d') }}</time>
    {% endif %}
  </div>
</header>
