@import "../../01-atoms/02-typography/01-fonts.scss";
@import "../../00-protons/00-breakpoints";
@import "../../00-protons/01-grid";

.sfgov-logo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: stretch;
  @media all and (max-width: $narrow-screen) {
    padding-left: 14px;
  }
  .sfgov-logo__image {
    min-width: 55px;
    display: flex;
    align-content: center;
    @media all and (max-width: $narrow-screen) {
      min-width: 40px;
      img {
        max-width: 40px;
      }
    }
  }
  .sfgov-logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
    min-width: 95px;
    .sfgov-logo__text--pre-title {
      font-family: "Helvetica", sans-serif;
      font-size: 10px;
      line-height: 12px;
      // todo: replace this color with a variable.
      color: #212121;
    }
    .sfgov-logo__text--title {
      @include merriweather;
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      a {
        text-decoration: none;
        color: #212121;
      }
    }
  }
}
