@import "../../00-protons/01-grid";
@import "../../01-atoms/03-buttons/01-buttons";

.a-z-container {
  background-color: #E1F3F8;
  padding: 20px 0;
  @media all and (min-width: $narrow-screen) {
    padding: 42px 0 35px 0;
  }
  h1 {
    color: #205493;
  }
  a {
    &:first-child {
      @include sfgov-button-secondary;
    }
  }
  ul {
    padding-left: 0;
  }
}
