@import "../../00-protons/01-grid";
@import "../../01-atoms/03-buttons/01-buttons";

.a-z-container {
  background-color: #E1F3F8;
  padding: 2rem 0;
  @include media($narrow-screen) {
    padding: 42px 0 35px 0;
  }
  h1 {
    color: #205493;
  }
  a {
    @include sfgov-button-secondary;
  }
  ul {
    padding-left: 0;
  }
  .sfgov-tabbed-navigation ul li a {
    padding: 1.2rem 1.5rem;
  }
}
