@import "../../01-atoms/01-colors/01-colors.scss";
@import "../../00-protons/01-grid";

.sfgov-container--a-z {
  padding-bottom: 40px;
  &.sfgov-container--full {
    padding-bottom: 40px;
  }
  h3 {
    background-color: $color-blue-darker;
    color: $color-white;
    font-size: 30px;
    line-height: 39px;
    display: block;
    padding: 14px 21px 17px 14px;
    @include media-max($narrow-screen) {
      font-size: 24px;
    }
  }
  .views-row {
    margin: 14px 0 14px 21px;
    a {
      color: $color-blue-darker;
      font-size: 17px;
      line-height: 26px;
    }
  }
}
