@import "../../01-atoms/01-colors/01-colors";
@import "../../00-protons/01-grid";

.sfgov-transaction-search--container {
  padding: 30.5px 0 20.5px 0;
  margin: 0 20px;
  border-bottom: 1px solid $color-gray-light;
  @include media($narrow-screen) {
    padding: 30px 20px 30px 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }
  .body {
    margin: 0;
    color: $color-gray;
    line-height: 26px;
  }
}
