@import "../../01-atoms/01-colors/01-colors";
@import "../../00-protons/01-grid";

.sfgov-transaction-search--container {
  padding: 30px 20px 30px 0;
  border-bottom: 1px solid $color-gray-light;
  a {
    text-decoration: none;
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }
  .body-container {
    .body {
      margin: 0;
      color: $color-gray;
      line-height: 26px;
      float: left;
      width: 70%;
    }
    .related-dept {
      float: right;
      width: 30%;
      font-size: 1.4rem;
      text-align: right;
      font-weight: 600;
    }
    @include clearfix;
  }
  @include media-max($mobile-screen) {
    margin: 0 25px;
    padding: 25px 0;
    a {
      h4 {
        font-size: 1.7rem;
      }
    }
    .body-container {
      .body, .related-dept {
        float: none;
        text-align: left;
        width: 100%;
      }
      .related-dept {
        font-size: 1.5rem;
      }
    }
  }
}
