@import "01-fonts.scss";
@import "../../00-protons/01-grid";

// we can place the styles in straight in the folder where the component belongs.

@mixin sfgov-h1 {
  @include merriweather;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 3.9rem;
  @include sfgov-h1;
  @include media($medium-screen + 1) {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}

.sfgov-header-section {
  color: #FFFFFF;
  background: #205493;
  padding: 21px 25px;
  &.no-margin {
    margin: 0;
  }
  &.big-padding {
    @include media($narrow-screen) {
      padding: 16px 0 15px 31px;
    }
  }
}

