@import "../../01-atoms/01-colors/01-colors";

.transaction-card {
  background-color: $color-gray-lightest;
  padding: 20px 18px 42px;
  &:hover {
    background-color: $color-blue;
    a {
      color: $color-white;
    }
    .transaction-card__body {
      color: $color-white;
    }
  }
  a {
    text-decoration: none;
    color: $color-blue;
  }

}
