@import "../../00-protons/01-grid";
@import "../../01-atoms/01-colors/01-colors.scss";

.department-search-index {
  padding: 40px 25px 46px 25px;
  .phone-address--container {
    display: flex;
    flex-direction: row;
    .phone--container {
      width: susy-span(3 narrow of 12 narrow);
    }
    .address--container {
      width: susy-span(9 narrow of 12 narrow);
    }
  }
  a {
    text-decoration: none;
  }
  h3.title {
    margin: 0 0 10px 0;
  }
  p.body {
    margin: 0 0 8px 0;
    color: $color-gray;
  }
}
