@import "../../../../node_modules/susy/sass/susy-prefix";
@import "../../../../node_modules/susy/sass/plugins/svg-grid";
@import "02-mixins";
@import "00-breakpoints";

@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

$mobile-screen: 480px;
$medium-screen: 769px;
$narrow-screen: 950px;
$wide-screen: 1220px;

// Basic grid settings.
$susy: (
  'columns': susy-repeat(12),
  'gutters': 14px,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

@mixin sfgov-container-full {
  @include clearfix;
  @media all and (min-width: $narrow-screen) {
    width: 949px;
    margin: 0 auto;
    padding: 0;
  }
  @media all and (min-width: $wide-screen) {
    width: 1195px;
    margin: 0 auto;
    padding: 0;
  }
}

@mixin sfgov-container-full--no-padding() {
  @include clearfix;
  @media all and (min-width: $narrow-screen) {
    width: 949px;
    margin: 0 auto;
  }
  @media all and (min-width: $wide-screen) {
    width: 1195px;
    margin: 0 auto;
  }
}

.sfgov-container--full {
  @include clearfix;
  @media all and (min-width: $narrow-screen) {
    width: 949px;
    margin: 0 auto;
    padding: 0;
  }
  @media all and (min-width: $wide-screen) {
    width: 1195px;
    margin: 0 auto;
    padding: 0;
  }
}

.sfgov-container {
  padding-left: susy-gutter() / 2;
  padding-right: susy-gutter() / 2;
  @media all and (min-width: $narrow-screen) {
    width: 949px;
    margin: 0 auto;
    padding: 0;
  }
  @media all and (min-width: $wide-screen) {
    width: 1195px;
    margin: 0 auto;
    padding: 0;
  }
}

.sfgov-width-one-whole {
  width: susy-span(12 of 12);
}

.sfgov-width-one-half {
  width: susy-span(6 wide of 12 wide);
  float: left;
  @media all and (max-width: $medium-screen) {
    width: 100%;
    float: inherit;
  }
}

.sfgov-width-one-third {
  width: susy-span(4 wide of 12 wide);
  float: left;
  @media all and (max-width: $medium-screen) {
    width: 100%;
    float: inherit;
  }
}

.sfgov-width-one-fourth {
  width: susy-span(3 wide of 12 wide);
  float: left;
  @media all and (max-width: $medium-screen) {
    width: 100%;
    float: inherit;
  }
}

.sfgov-width-one-sixth {
  width: susy-span(2 wide of 12 wide);
  float: left;
  @media all and (max-width: $medium-screen) {
    width: susy-span(4 wide of 12 wide);
    float: left;
  }
  @media all and (max-width: $mobile-screen) {
    width: 100%;
    float: inherit;
  }
}
.sfgov-width-one-twelfth {
  width: susy-span(1 wide of 12 wide);
  float: left;
  @media all and (max-width: $medium-screen) {
    width: susy-span(4 wide of 12 wide);
    float: left;
  }
  @media all and (max-width: $mobile-screen) {
    width: 100%;
    float: inherit;
  }
}

.grid-example {
  color: #fff;
  .sfgov-grid {
    background: svg-grid() no-repeat scroll;
    .sfgov-width-one-whole,
    .sfgov-width-one-half,
    .sfgov-width-one-third,
    .sfgov-width-one-fourth,
    .sfgov-width-one-sixth,
    .sfgov-width-one-twelfth {
      background: #60585c;
      padding: 10px;
      text-align: center;
      border: 1px dotted #e1f3f8;
    }
  }
}

// Grid Two Columns.

.sfgov-grid-two-columns {
  @include sfgov-container-full--no-padding;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include media($narrow-screen) {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;
  }
  grid-template-rows: auto;
  grid-gap: 20px 20px;
  justify-items: stretch;
  .transaction-card {
    height: 100%;
  }
}

// Right sidebar.

.sfgov-container--right-sidebar {
  .sfgov-container--content-right {
    @include media($medium-screen + 1) {
      width: susy-span(8 narrow of 12 narrow);
      float: left;
      @include clearfix;
    }
  }
  .sfgov-container--content-left {
    @include media($medium-screen + 1) {
      width: susy-span(4 narrow of 12 narrow);
      float: right;
      @include clearfix;
    }
  }
}

// Preview.
.preview {
  @include clearfix;
}
