@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

@mixin outer-container($local-max-width: $max-width) {
  @include clearfix;
  max-width: $local-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

