@import '../../01-atoms/01-colors/01-colors';


.sfgov-section {
  margin-bottom: 50px;
}

.sfgov-section__title {
  background: $color-blue-darker;
  color: #fff;
  padding: 21px 25px;
  margin-bottom: 20px;
}

.sfgov-section__content {

}
