.sfgov-tabbed-navigation {
  ul {
    border-bottom: 1px solid #e1f3f8;
    margin: 10px 0 0 0;
    li {
      margin: 0;
      display: inline-block;
      a {
        padding: 2px 13px;
        border: 1px solid #efefef;
        text-decoration: none;
        &.is-active {
          background: #f0f0f0;
        }
      }
    }
  }
}
