@import "../../01-atoms/02-typography/01-fonts.scss";

.sfgov-list-link {
  @include merriweather;
  color: #0071BC;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
}
